/*color changing title background*/
@-webkit-keyframes pulse 
{
	0% {background-color: #FFFF99;}
	25% {background-color: #FF9999;}
	50% {background-color: #66FFCC;}
	75% {background-color: #33CCFF;}
	100% {background-color: #FFCC66;}
	
}
body 
{
	background-color: black;
	background-image: url("http://bgfons.com/upload/stars_texture2956.jpg");
	margin: auto; 
	margin-bottom: 0px; 
	width: 100%; 
}
#top 
{
	font-size: 5em; 
	text-align: center; 
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold; 
	color: black;
	background-color: #45CEEF;
	-webkit-animation: pulse 5s infinite alternate;
	margin: 10px 10px 0px 10px; 
	border-color: #505050  ; 
	border-style: solid;
    	border-width: 5px 5px 0px 5px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.nav ul 
{
  	list-style: none;
  	background-color: #444;
  	text-align: center;
  	padding: 0;
  	margin: 0px 10px 0px 10px;
  	border-color: #505050; 
  	border-style: solid;
  	border-width: 0px 5px 0px 5px;
}
.nav li 
{
	font-family: 'Oswald', sans-serif;
  	font-size: 1.2em;
  	line-height: 40px;
  	height: 40px;
  	border-bottom: 1px solid #888;
}
.nav a 
{
  	text-decoration: none;
  	color: #fff;
  	display: block;
  	transition: .3s background-color;
}
.nav a:hover 
{
  	background-color: #333366;
}
.nav a.active 
{
  	background-color: #fff;
  	color: #444;
  	cursor: default;
}
.nav li 
{
    	width: 120px;
    	border-bottom: none;
    	height: 50px;
    	line-height: 50px;
    	font-size: 1.4em;
}
.nav li 
{
    	display: inline-block;
    	margin-right: -4px;
}
#message 
{
	background-color: white;
	text-align: center; 
	font-size: 1.25em; 
	margin: 0px 10px 0px 10px;
	border-color: #505050; 
	border-style: solid;
	border-width: 0px 5px 5px 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
}
#container {
	width: 100%;
}
#images
{
	margin: 0px; 
}
img 
{
	margin: 0px 40px 0px 40px; 
}
#outer
{
	width: 100%; 
	margin: 25px 25px 25px 25px;
}
#information
{
	text-align: center;
	background-color: black;
	border: solid #505050 5px; 
	width: 50%; 
	margin: 0 auto;
	margin-bottom: 100px;
}
#information li 
{
	font-size: 2em; 
	color: white;
	list-style: none; 
}
#information li ul li 
{
	font-size: 1em
}
#information p
{
	font-size: 2em; 
	text-align: center;
	color: white; 
	padding: 25px; 
}
#abo_con
{
	text-align: center;
	background-color: black;
	border: solid #505050 5px; 
	width: 50%; 
	margin:0 auto;
}
#abo_con p
{
	font-size: 2em; 
	text-align: center;
	color: white; 
	padding: 25px; 	
}
#abo_con a 
{
	text-decoration: underline;
	color: #E8E8E8; 
}
#information a 
{
	text-decoration: underline;
	color: #E8E8E8; 
}
#ref
{
	background-color: black;
	border: solid #505050 5px; 
	width: 75%; 
	margin:0 auto;
	color: white; 
	padding: 25px; 
}
#ref li
{
	font-size: 1em; 
	color: white;
	width: 65%;
	list-style-position:inside;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;    
}
#scroll_title {
	text-align: center; 
	position: fixed;
	font-size: 1.5em; 
	font-weight: bold; 
	bottom: 65px;
	color: black; 
    	background-color: #B8B8B8 ;
    	width: 20%;
    	height: 28px;
	border-color: #505050  ; 
	border-style: solid;
    	border-width: 5px 5px 0px 5px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.scroll a{
	color: #3366FF; 
}

div.scroll {
	position: fixed;
	font-size: 1.3em; 
	bottom: 0px;
	color: black; 
	background-color: #B8B8B8 ;
    	width: 100%;
    	height: 50px;
    	overflow-y: scroll;
	overflow-x: hidden; 
	border-color: #505050  ; 
	border-style: solid;
    	border-width: 5px 5px 0px 5px;
	padding: 0px 10px 10px 10px; 
}
/*changes for smaller screen*/
@media only screen and (max-device-width: 599px) {
	body {
		width:100%;
	}
	div.scroll {
		width:100%;
		height: 100px; ;
	}
	#scroll_title {
		width: 50%;
		bottom: 115px;
    		height: 28px
	}
	#container {
		width: 100%;
		    height:auto;
	}
	#top {
		width: 100%; 
		font-size: 1em;
	}
	.nav ul {
		width: 100%;
	}
	#message {
		width: 100%;
	}
	#images {
		width: 100%;
	}
	#outer {
		width: 100%; 
	}
	img {
    		max-width: 50%;
    		height: auto; 
	}
	#ref {
		width: 90%;
	}
	#ref li {
		font-size: .5em; 
	}
	#information {
		width: 90%;
	}
	#abo_con {
		width: 90%;
	}
	#information li {
		font-size: 1em; 
	}
	#information li ul li {
		font-size: 1em;
	}
	#information p {
		font-size: 1em;
	}
}
