@media screen and (max-width: 490px) {
	body { width: 100%};
	#top { font-size: 5px;}
}
@media screen and (min-width: 490px) {
	#top { font-size: 100px;}
}

@-webkit-keyframes pulse {
	0% {background-color: #FFFF99;}
	25% {background-color: #FF9999;}
	50% {background-color: #66FFCC;}
	75% {background-color: #33CCFF;}
	100% {background-color: #FFCC66;}
}

body {
	background-image: url("http://bgfons.com/upload/stars_texture2956.jpg");
	margin: auto; 
	margin-bottom: 0px; 
}

#top {
	/*font-size: 5em;*/
	text-align: center; 
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold; 
	color: black;
	background-color: #45CEEF;
	-webkit-animation: pulse 5s infinite alternate;
	margin: 10px 10px 0px 10px; 
	border-color: #505050  ; 
	border-style: solid;
    border-width: 5px 5px 0px 5px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0px 10px 0px 10px;
  border-color: #505050; 
  border-style: solid;
  border-width: 0px 5px 0px 5px;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #333366;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

#message {
	background-color: white;
	text-align: center; 
	font-size: 1.25em; 
	margin: 0px 10px 0px 10px;
	border-color: #505050; 
	border-style: solid;
	border-width: 0px 5px 5px 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
}


